<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ ASSET_PATH }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/stylesheets/pygment_trac.css">
    <link href="/transrate/favico.png" rel="shortcut icon" type="image/x-icon">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ ASSET_PATH }}/javascripts/main.js"></script>
    <script src="{{ ASSET_PATH }}/javascripts/ggl-analytics.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

      <header>
        <img class="headlogo" src="{{ ASSET_PATH }}/images/mainlogo.png">
      </header>

      <div id="banner">
        <div style="width: 650px; margin-left: auto; margin-right: auto;">
          <a href="index.html" class="button"><strong>Home</strong></a>
          <a href="installation.html" class="button"><strong>Installation</strong></a>
          <a href="getting_started.html" class="button"><strong>Getting Started</strong></a>
          <a href="metrics.html" class="button"><strong>Metrics</strong></a>
          <a href="https://github.com/Blahah/transrate" class="button logo" style="float: right;"><strong>View on Github</strong></a>
        </div>

      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>Project maintained by<br><a href="mailto:{{site.author.email}}">{{ site.author.name }}</a></p>
        <p><small>Developed with ♥ and Ruby<br>in the <a href="http://hibberdlab.com">Hibberd Lab</a> and <a href="http://stevekellylab.com">Kelly Lab</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
  </body>
</html>
